<h1># basketball-team</h1>
<p>posts sur actio cable où tout post apparait en temps réel </p>
<p>on peut publier plusieurs post:</p>
<p>post avec/sans photo qui contient quelque chose de nouveau et sur quelqu'un qui fait fait un sport, une rumeur/info, </p>
<p>post avec photo avec quelqu'un en train de faire un sport</p>
<p>post avec photo ou quelqu'un qui fait du sport dire seulement bonjour dans ce post</p>
<p>ajouter un , affichage i18n

Me mettre à jour
Affichage du lieu : coordonnées, nom de pays, nom de ville, code postal, rue

Affichage de l'heure et de la date
</p>
